body{
    font-family:'Arial', 'sans-serif';
    background-color:rgb(196, 222, 222);
    margin:0;
    padding:20px;
}

h1{
    text-align:center;
    color:#33333381;
    margin-bottom:20px;
}

ul{
    list-style-type:none;
    padding:0;
    max-width: 600px;
    margin: 0 auto;
}

li{
    background-color: white;
    margin:10px 0;
    padding:15px;
    border-radius:8px;
    display:flex;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.9s, box-shadow 0.2s;
    cursor: pointer;
}

li:hover{
    transform: translateY(-10px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}



.pagination{
    display:flex;
    justify-content: center;
    margin-top:20px;
   

    
    gap:10px;
}



button{
    background-color: rgb(32, 245, 42);
    border:none;
    color:white;
    text-align: center;
    display:inline-block;
    text-decoration:none;
    font-size: 16px;
    padding: 10px 20px;

}

:disabled{
     background-color: rgba(154, 236, 158, 0.607);
}

.active{
    background-color: rgb(32, 245, 42);
    color:rgb(11, 10, 10);
    border: 2px solid black;
    font-weight: bold;
}


